[submodule "mcp/arxiv-paper-mcp"]
	path = mcp/arxiv-paper-mcp
	url = https://github.com/daheepk/arxiv-paper-mcp.git
[submodule "mcp/mcp-discord"]
	path = mcp/mcp-discord
	url = https://github.com/barryyip0625/mcp-discord.git
[submodule "mcp/mcp-server-airbnb"]
	path = mcp/mcp-server-airbnb
	url = https://github.com/openbnb-org/mcp-server-airbnb.git
