[submodule "mcp/arxiv-paper-mcp"]
	path = mcp/arxiv-paper-mcp
	url = https://github.com/daheepk/arxiv-paper-mcp.git
[submodule "mcp/mcp-discord"]
	path = mcp/mcp-discord
	url = https://github.com/barryyip0625/mcp-discord.git
[submodule "mcp/mcp-server-airbnb"]
	path = mcp/mcp-server-airbnb
	url = https://github.com/openbnb-org/mcp-server-airbnb.git
[submodule "mcp/geek-news"]
	path = mcp/geek-news
	url = https://github.com/the0807/GeekNews-MCP-Server.git
[submodule "mcp/firecrawl"]
	path = mcp/firecrawl
	url = https://github.com/mendableai/firecrawl-mcp-server.git
[submodule "mcp/paper-search"]
	path = mcp/paper-search
	url = https://github.com/openags/paper-search-mcp.git
[submodule "mcp/mermaid"]
	path = mcp/mermaid
	url = https://github.com/peng-shawn/mermaid-mcp-server.git
[submodule "mcp/markdown-downloader"]
	path = mcp/markdown-downloader
	url = https://github.com/dazeb/markdown-downloader.git
[submodule "mcp/powerpoint"]
	path = mcp/powerpoint
	url = https://github.com/GongRzhe/Office-PowerPoint-MCP-Server.git
